* {
  box-sizing: border-box;
}

html {
  background-color:black;
}
/* Body and Wrapper */
body {
  height: 100%;
  /* max-height: calc(100vh - 56px); */
    /* background-color: #282c34; */
  margin: 0;
  padding:0;
  padding-bottom: 50px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom:50px;
}

.wrapper {
  /* background-color: #282c34; */
  margin-left: 7%;
  margin-right: 7%;
  /* min-height:100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13;
  color: #d1d1d1;
}

#title {
  text-align:center;
}

h1 {
  font-size: 2.25rem;
  margin-left: -17px;
}
/* Navbar */
.topnav {
  background-color: #343A40;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #626C80;
  color: black;
}

.topnav a.active {
  background-color: #343A40;
  color: white;
}

.topnav a.active:hover {
  background-color: #343A40;
  color: white;
}

/* Projects */
.projectCard {
  display: inline-block;
  /* border: 1px red solid; */
  margin-top: 20px;
  height: auto;
  width: 370px;
  vertical-align: top;
}

.projectCard img {
  width: 350px;
  height: auto;
  transition: all 1s;
  opacity: .5;
}

#projects div, a {
  color: white;
  max-width:100%;
  text-align: center;
}

.column {
  margin: 0, 20px;
}

.row {
  width: 100%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width:100%;
  height:auto;
}

img:hover{
  transform: scale(1.1);
  opacity: 1;
}

/* Footer */
#footer {
  color: white;
  background-color: #343A40;
  height:72px;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 100%;
}

#footer a {
  /* display:inline-block; */
  color: white;
  font-size: 14;
  margin-right:10px;
  /* padding-top:-4 */
}

#footer a:visited {
  color: white;
}

@media only screen and (max-width: 600px) {
  .projectCard img {
    opacity:1;
  }
}