body {
  background-color: #282c34;
  /* max-height: calc(100vh - 56px); */
  height:100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  padding-bottom:50px;
}

.topnav {
  background-color: #343A40;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #626C80;
  color: black;
}

.topnav a.active {
  background-color: #343A40;
  color: white;
}

.topnav a.active:hover {
  background-color: #343A40;
  color: white;
}

.wrapper {
  
  background-color: #282c34;
  margin-left:50px;
  margin-right:50px;
  min-height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13;
  color: #d1d1d1;
}

#projects {
  color: white;
}

.projectCard {
  display:inline-block;
  border: 5px white dashed;
  margin: 20px;
  height: 300px;
  width: 300px;
  text-align: center;
}

.footer {
  color: white;
  background-color: #343A40;
  text-align: center;
  padding: 20px;
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
}

.footer a {
  margin:10px;
  font-size: 14;
}

.footer a:visited {
  color:white;
}


